/*顶部标题栏*/
#BlogFormTitleBar {
    min-height: 30px; /*最小高度*/
    max-height: 30px; /*最大高度*/
}

/*标题栏中最小化,最大化,关闭按钮样式*/
#blog_min_button,#blog_max_button,#blog_close_button {
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    border: none; /*无边框*/
    background: transparent; /*背景透明*/
}

/*标题栏最小化,最大化按钮鼠标悬停样式*/
#blog_min_button:hover,#blog_max_button:hover {
    color: white; /*文字白色*/
    background-color: rgba(255, 255, 255, 100); /*带透明度白色*/
}

/*标题栏关闭按钮样式*/
#blog_close_button:hover {
    color: white;
    background-color: rgb(212, 64, 39); /*红色*/
}